

<h1>{{{username}}}</h1>
<h2>{{message}}</h2>

</head>
<body>
  <form form action="/user" method="POST">
  <label for="name">Name:</label><br>
  <input type="text" required="true" id="name" name="name"><br>
  <label for="email">Email:</label><br>
  <input type="text" required="true" id="email" name="email">
   <input type="submit" value="Submit">
</form> 
  </div>
</body>
</html>